.IdeaIC2019.3/
.PyCharmCE2018.3/
.android/
.atom/
.bash_history
.conda/
.editorProperties
.fontconfig/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.matplotlib/
.nuget/
.tooling/
.vscode/
AppData/
Application Data/
Contacts/
Cookies/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Local Settings/
Miniconda3/
Music/
NTUSER.DAT*
Pictures/
Recent/
Saved Games/
Searches/
SendTo/
Tracing/
Videos/
Thumbs.db
*.ipynb
"\Главное меню/"
"\Мои документы/"

3.1 task
Documentstmp.ini
Evernote/
REARME.md
Sti_Trace.log
daemonprocess.txt
forel.ru/
forelspb.ru/
kniga_pamyati_kostromskoj_oblasti_-_tom_5.pdf
ntuser.ini
ntuser.pol
"\320\223\320\273\320\260\320\262\320\275\320\276\320\265 \320\274\320\265\320\275\321\216/"
"\320\234\320\276\320\270 \320\264\320\276\320\272\321\203\320\274\320\265\320\275\321\202\321\213/"
.lesshst
.viminfo
